/**
 * tailwindcss.flex
 * @jsdawn 2024-03-28
 */

.flex {display: flex;}
.flex-grid {display: flex;justify-content: center;align-items: center;}

.flex-row {flex-direction: row;}
.flex-row-reverse {flex-direction: row-reverse;}
.flex-col {flex-direction: column;}
.flex-col-reverse {flex-direction: column-reverse;}
.flex-wrap {flex-wrap: wrap;}
.flex-wrap-reverse {flex-wrap: wrap-reverse;}
.flex-nowrap {flex-wrap: nowrap;}

.flex-1 {flex: 1 1 0;}
.flex-auto {flex: 1 1 auto;}
.flex-initial {flex: 0 1 auto;}
.flex-none {flex: none;}

.grow {flex-grow: 1;}
.grow-0 {flex-grow: 0;}
.shrink {flex-shrink: 1;}
.shrink-0 {flex-shrink: 0;}

.justify-normal {justify-content: normal;}
.justify-start {justify-content: flex-start;}
.justify-end {justify-content: flex-end;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.justify-around {justify-content: space-around;}
.justify-evenly {justify-content: space-evenly;}
.justify-stretch {justify-content: stretch;}

.items-start {align-items: flex-start;}
.items-end {align-items: flex-end;}
.items-center {align-items: center;}
.items-baseline {align-items: baseline;}
.items-stretch {align-items: stretch;}

.self-auto {align-self: auto;}
.self-start {align-self: flex-start;}
.self-end {align-self: flex-end;}
.self-center {align-self: center;}
.self-stretch {align-self: stretch;}
.self-baseline {align-self: baseline;}